<footer class="footer">
    <div class="container">
        <small>File anda tersimpan secara aman dan hanya anda &amp; dosen dengan izin khusus yang dapat mengaksesnya. Informasi lebih lanjut, cek halaman <a href="{{@BASE}}{{'laman', '@halaman=kebijakan-privasi' | alias}}">Kebijakan Privasi</a> kami.</small>
        <p>Hak cipta &copy;2017 Administrator Lab Komputasi Fakultas Teknologi Informasi dan Sains, Universitas Katolik Parahyangan.</p>
        <p>Design by <a href="https://bulma.io" target="_blank">Bulma</a> | Layout by <a href="https://github.com/chez14" target="_blank">chez14</a> | Checkout this project on <a href="https://github.com/ftis-admin/tak-urus" target="_blank">Github</a>.</p>
    </div>
</footer>